.w3-anton {
    font-family: 'Anton', sans-serif;
}

.w3-lobster {
    font-family: 'Lobster', cursive;
}

.w3-bungee {
    font-family: 'Bungee', cursive;
}

.w3-marker {
    font-family: 'Permanent Marker', cursive;
}

.w3-kalam {
    font-family: 'Kalam', cursive;
}

.w3-bungee {
    font-family: 'Bungee', cursive;
}
.w3-bangers {
    font-family: 'Bangers', cursive;
}

.w3-sigmar {
    font-family: 'Sigmar One', cursive;
}



/*font-family: 'Anton', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Bungee', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Bangers', cursive;
    font-family: 'Sigmar One', cursive;*/