/*Colors*/


$color1: #61892F; // Main Primary color */
$color2: #86C232;
$color3: #222629;
$color4: #474B4F;
$color5: #6B6E70;
$colorbg: rgb(32, 32, 32);

/*BLUE*/
/*$color1: #4A87BF;
$color2: #325A7F;
$color3: #63B4FF;
$color4: #192D40;
$color5: #59A2E5;*/
